<div class="contact-info">
  <img
    [class.contact-online]="currentChat.isOnline"
    [class.contact-offline]="!currentChat.isOnline"
    class="profile-thumb contact-online"
    [src]="currentChat.avatar"
    alt=""
  />
  <div class="info">
    <h3 class="profile-name">{{ currentChat.name }}</h3>
    <!-- <p
      [class.online]="currentChat.isOnline"
      [class.offline]="!currentChat.isOnline"
      class="online"
    >
      Online
    </p> -->
    <p *ngIf="currentChat.isOnline" class="online">Online</p>
    <p *ngIf="!currentChat.isOnline" class="offline">Offline</p>
  </div>

  <mat-icon class="call"> call</mat-icon>
</div>
