:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: rgb(91, 170, 223);
  margin-bottom: 0;
}
.input {
  width: 100%;
  margin-bottom: -22px;
  padding: 10px;
}
.send-btn{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.send {
  margin-right: 10px;
  padding: 10px;
  width: auto;
  height: auto;
  font-size: 30px;
  background-color: var(--online);
  border-radius: 100%;
  cursor: pointer;
  color: white;
}

