<aside>
  <mat-drawer-container class="example-container" [hasBackdrop]="true">
    <!-- [opened]="true" per lasciare aperto -->
    <mat-drawer #drawer [mode]="'over'">
      <app-side-nav-over></app-side-nav-over>
    </mat-drawer>
    <mat-drawer-content #mode>
      <div class="search-bar">
        <div
          class="example-sidenav-content"
          mat-button
          (click)="drawer.toggle()"
        >
          <button
            mat-icon-button
            aria-label="Example icon button with a vertical three dot icon"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>

        <mat-form-field class="example-form-field">
          <div class="search-bar-align">
            <mat-icon class="search">search</mat-icon>

            <div class="input-bar">
              <input
                placeholder="Search"
                matInput
                type="text"
                [(ngModel)]="value"
              />
              <button
              *ngIf="value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="value = ''"
              class="close-btn"
            >
              <mat-icon>close</mat-icon>
            </button>
            </div>

            
          </div>
        </mat-form-field>
      </div>

      <div class="conatiner contacts">
        <app-contact></app-contact>
      </div>

      
    </mat-drawer-content>

  </mat-drawer-container>
</aside>
