
aside {
  height: 100%;
  display: flex; /* Imposta aside come un contenitore flex */
  flex-direction: column; /* Imposta la direzione delle colonne per i figli di aside */
}

.example-container {
  background-color: var(--purple);
  width: 100%;
  height: 100%;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
}

.search-bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  background-color: var(--darkPurple);
  padding: 14px 0 14px 0;
}

.option-btn{
  margin-left: 14px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.option-btn:hover{
  transition: 0.3s;
  background-color: var(--purple);
}
.option-btn >mat-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 30px;
  padding: 5px;
}

.example-form-field {
  margin-bottom: -22px;
  width: 100%;
  margin-right: 10px;
}
.search {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.search-bar-align {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.close-btn {
  padding: 12px 8px 8px 8px;
  position: absolute;
  right: 0;
}

.input-bar {
  display: flex;
  align-items: center;
}

.contacts {
  margin: 0;
  width: 100%;
}
