
  aside {
    height: 100%;
    display: flex; /* Imposta aside come un contenitore flex */
    flex-direction: column; /* Imposta la direzione delle colonne per i figli di aside */
  }
  
  .example-container {
    width: 100%;
    height: 100%;
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .search-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  
  .example-form-field {
    margin-bottom: -22px;
    width: 100%;
    margin-right: 10px;
    
  }
  
  .search {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  
  .search-bar-align{
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .close-btn{
    padding:12px 8px 8px 8px;
    position: absolute;
    right: 0;
  }

  .input-bar{
    display: flex;
    align-items: center;
  }