<!-- <mat-toolbar>
  <div class="nav-bar container">
    <p class="title">TelegramFake</p>

    <div class="nav-btn">
      <button
        class="heart"
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <a href="">
          <mat-icon> favorite </mat-icon>
        </a>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <a href="">
          <mat-icon> share </mat-icon>
        </a>
      </button>
    </div>
  </div>
</mat-toolbar> -->

<div class="nav-bar container">
  <p class="title">TelegramFake</p>

  <div class="nav-btn">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon class="heart"> favorite </mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon class="share"> share </mat-icon>
    </button>
  </div>
</div>
