<div
  *ngFor="let contact of contacts; index as i"
  class="contatto-card"
  (click)="setContact(i)"
>
  <div
    class="card"
    [ngClass]="{ 'selected-contact': selectedContact === contact }"
  >
    <img
      class="foto-profilo"
      [src]="contact.avatar"
      [class.contact-online]="contact.isOnline"
      [class.contact-offline]="!contact.isOnline"
      alt=""
    />
    <div class="info">
      <h2 class="name">{{ contact.name }}</h2>
      <div class="mex-info">
        <p class="last-mex">{{ lastMex(contact).message }}</p>
        <p class="last-mex-hour">{{formattaOraMex(contact)}}</p>
      </div>
    </div>
  </div>
</div>
