.contatto-card {
  border-bottom: 2px solid var(--darkPurple);
}
.card {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  max-width: 100%;
  cursor: pointer;
}
.card:last-child {
  border-bottom: none;
}
.card:hover,
.selected-contact {
  transition: 0.3s ease-in;
  background-color: var(--lightPurple);
}
.card:default,
.selected-contact {
  transition: 0.3s ease-out;
  background-color: rgb(106, 45, 156);
}

.foto-profilo {
  max-width: 85px;
  border-radius: 100%;
}

.info {
  margin: 0 20px 0 20px;
  line-height: 30px;
  min-width: 100%;
}

.info p,
.info h2 {
  margin: 6px;
}
.contact-online{
  border: 3px solid var(--online);
  border-radius: 999px;
}

.contact-offline{
  border: 3px solid var(--offline);
  border-radius: 999px;
}
.name{
  color: white;
  font-size: 26px;
}
.last-mex{
  color: white;
  font-size: 16px;
}
.last-mex-hour{
  color: white;
  font-size: 14px;
  margin-right: 16px!important;
}
.mex-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
}