/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: #a26fd65e; }

:root{
    --purple:#824bb9;
    --lightPurple:#5c0c93;
    --darkPurple:#480875;
    --obscurePurple:#350069;
    --blueCoral:#2e2d88;
    --online:#23af6e;
    --offline:#ad2828;
}