<!-- {{currentChat.messages[0].message}} -->
<!-- 
<div
  #messageContainer
  *ngIf="currentChat && currentChat.messages"
  class="contact-chat"
>
  <div
    *ngFor="let message of currentChat.messages"
    class="messaggio"
    [ngClass]="message.status === 'sent' ? 'mex-send' : 'mex-received'"
  >
    <p class="message">{{ message.message }}</p>

    <span class="hour">{{ formattaOraMessaggio(message.date) }}</span>
  </div>
</div> -->

<div *ngIf="currentChat && currentChat.messages" class="contact-chat">
  <ng-container *ngFor="let group of groupMessagesByDay(currentChat.messages) | keyvalue">
    <p class="date-message">{{ group.key }}</p> <!-- Visualizza la data nel formato "gg-mm-yyyy" -->

    <div *ngFor="let message of group.value" class="messaggio" [ngClass]="message.status === 'sent' ? 'mex-send' : 'mex-received'">
      <p class="message">{{ message.message }}</p>
      <span class="hour">{{ formattaOraMessaggio(message.date) }}</span>
    </div>
  </ng-container>
</div>
