.messaggio {
  padding: 14px;
  border-radius: 20px;
  max-width: 60%;
  margin: 10px;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.mex-send {
  background-color: var(--online);
  margin-left: auto;
}
.mex-received {
  background-color: dodgerblue;
  margin-right: auto;
}
.contact-chat {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
}
.hour {
  font-size: 14px;
  margin-left: auto;
}
.message {
  font-size: 20px;
  margin-bottom: 6px;
}
.date-message {
  background-color: var(--obscurePurple);
  border-radius: 999px;
  padding: 8px;
  color: white;
  text-align: center;
  width: 100px;
  margin: 0 auto;
}
.date-message:first-child{
  margin-top: 10px;
}
